.table {
  &__wrapper {
    background-color: var(--color-surface);
    box-shadow: var(--shadow-card);
    border-radius: var(--radius-md);
    overflow: hidden;
  }
 
  width: 100%;
  border: 1px solid var(--color-border);
  border-collapse: collapse;
 
  &__header {
    background-color: var(--color-surface-alt);
  }
 
  &__header-cell,
  &__cell {
    padding: 0.5rem 1rem;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
  }
 
  &__row:last-child &__cell {
    border-bottom: none;
  }
}